.offers-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.category-scroll-wrapper {
  flex: 1;
  white-space: nowrap;
  overflow-x: auto;
}

.category-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.arrow-controls {
  white-space: nowrap;
}

.offers-scroll-wrapper {
  overflow: hidden;
  position: relative;
}

.offers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.offer-card-wrapper {
  min-width: 250px;
}
